@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0;
    padding: 0;
}
#banner{

    background-image: url(../img/background/newClass/newClass.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.back{
   margin-left: -200px;
}
.banner-text{
    margin-left: 1000px;
    margin-top: 100px;
}

.text-box{
    overflow: hidden;
    font-size: 20px;
    padding: 15px;

}
.text-box div{
    border: #707070;
}
.text-box input{
    padding: 8px;
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF;
    border-bottom: 4px solid #707070;
    width: 60%;

}
.text-box input:focus{
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF;
    border-bottom: 4px solid #707070;
}
.text-box i{
    color: #707070;
}

.btn{
    border-radius: 35px;
    background-color: #2e9cca;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px 40px ;
    margin: 0 20px 0 30px;
}.btn{
     margin-left: 120px;
 }
 .title{
     color: #707070;
     margin-left: 60px;
     font-size: 30px;
 }