@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0;
    padding: 0;
}
#banner{

    background-image: url(../img/background/newQ/newQ.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.back{
    position: absolute;
    top: 3%;
    left: 1%;
}
.banner-text{
    padding-top: 150px;
    padding-left: 100px ;

}
input{
    margin: 20px;
}

.text-box{
    overflow: hidden;
    font-size: 20px;
    padding: 20px;

}
.text-box div{
    border: #707070;
}
.text-box input{
    padding: 10px;
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF;
    border-bottom: 4px solid #707070;

    width: 30%;

}
.text-box input:focus{
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF;
    border-bottom: 4px solid #707070;
}
.text-box i{
    color: #707070;
}
.text{
    border: 3px solid #707070;
    border-radius: 10px;

}

.btn{
    border-radius: 40px;
    background-color: #2e9cca;
    border: none;
    color: #FFFFFF;
    font-size: 30px;
    padding: 25px 40px ;
    margin: 0 20px 0 150px;
}